# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/*.xcworkspace
!*.xcodeproj/xcshareddata
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcworkspace
!default.xcworkspace

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Carthage
Carthage/Build

# SPM
.swiftpm/
*.xcodeproj

# macOS
.DS_Store
